* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(53, 48, 51);
    background-image: url(../images/Super_Mario_C64_Screen.jpg);
    background-size: 100%;
}

.uno {
    height: 80px;
}

.mariomotion {
  position:absolute;
  animation: mario 7s infinite;
  display: flex;
}

@keyframes mario {
    0% {
      top: 20px;
      left: 50px;
    }

    50% {
      left: 30px;
      width: 5px;
    }
  
    75% {
      left: 30px;
    }
  
    100% {
      right: 30px;
    }
  }